html, body{overflow-x: hidden;}

:root{

  	/* Color Pallete */
  	--roseGold: #B76E79; 
  	--pink1: #FADDD5; 
  	--blushPink: #DE5D83; 
  	--pink2: #FCDBD4; 
  	-gold: #FFD700; 
	--goldDarker: #462523;
  	--goldDark: #cb9b51; 
	--goldNormal: #f6e27a;
	--goldLight: #f6f2c0;
  	--black: #1a1a1a;
 	--violet: #674ea7;
 	--white: #eee;
}

* {
	font-family: 'Arvo', serif;margin: 0; padding: 0; box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, Sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 100vh;
    	width: 100%; */
	flex-direction: column;
	background: linear-gradient(180deg, rgba(184,107,119,.8) 50%, rgb(192, 131, 140) 100%);
	max-width: 856px;
  	/* max-width: 1920px; */
	margin: 0 auto;
	position: relative;	
}

.container{position: relative; width: 100vw; min-height: 100vh; padding: 15px 25px;}
.container h1{font-size: 60px; font-family: 'Dancing Script', cursive; font-weight: bold; font-style: normal; padding: 15px; color: #333; text-align: center; text-transform: capitalize;background: linear-gradient(
	to right,
	/* #462523 0, */
  /* #cb9b51 22%,  */
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%
	/* #cb9b51 78% */
	/* #462523 100% */
	);
   color:transparent;
   -webkit-background-clip:text;}
.container h2{text-align: center;}
.container p{text-align: center;}
.container > a{text-transform: uppercase; color: var(--white); text-decoration: none; border: 1px solid black; padding: 5px;}
.container .image-container{display: flex; flex-wrap: wrap; gap: 15px; justify-content: center; padding: 10px;}
.container .image-container .image{border: 5px solid #fff; box-shadow: 0 5px 15px rgba(0,0,0,.1); overflow: hidden; cursor: pointer; width: 171px; aspect-ratio: 1/1; border-radius: 5px;}
.container .image-container .image img{height: 100%; width: 100%; object-fit: cover; transition: .2s linear;}
.container .image-container .image:hover img{transform: scale(1.1);}
.container .popup-image{position: fixed; top: 0; left: 0; background: rgba(0,0,0,.9); height: 100%; width: 100%; z-index: 100; display: none;}
.container .popup-image span{position: absolute; top: 0; right: 10px; font-size: 60px; font-weight: bolder; color: #fff; cursor: pointer; z-index: 100;}
.container .popup-image img{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); border: 5px solid #fff; border-radius: 5px; width: 750px; object-fit: cover;}
.container .popup-image .gallery{position: absolute; bottom: 0; left: 50%; transform: translate(-50%); z-index: 100; width: 100%; margin: 0 auto; height: 150px; overflow: auto; scroll-snap-type: x mandatory;}
.container .popup-image .gallery .thumbnails{display: flex; margin-bottom: 20px;}
.container .popup-image .gallery .thumbnails img{width: 100px; height: 100px; margin: 5px; cursor: pointer; transition: all 0.3s ease; border-radius: 5px; box-shadow: 0 0 5px rgba(0,0,0,0.3); position: static; transform: none; object-fit: contain; aspect-ratio: 1/1; flex-shrink: 0; scroll-snap-align: center;}

@media (max-width: 768px){.container .popup-image img{width: 95%;}}

.photos_page p{font-weight: bold; color: var(--white); text-transform: uppercase;}
.photos_page a{text-transform: none; color: black; text-decoration: underline;font-weight: normal; font-size: 13px; background: linear-gradient(
	to right,
	/* #462523 0, */
  	/* #cb9b51 22%,  */
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%
	/* #cb9b51 78% */
	/* #462523 100% */
	);
  	color:transparent;
   	-webkit-background-clip:text;}
.entourage_container h2{text-align: center; color: var(--white);}
.entourage_container h3{text-align: center; color: var(--white);}
.entourage_container p{font-size: 13px;text-align: center; background: linear-gradient(
	to right,
	/* #462523 0, */
  	/* #cb9b51 22%,  */
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%
	/* #cb9b51 78% */
	/* #462523 100% */
	);
	color:transparent;
	-webkit-background-clip:text;
}
.align_middle{display: flex; column-gap: 20px;}
.right_align p, .right_align h3{text-align: right;}
.left_align p, .left_align h3{text-align: left;}